body {
    display: grid;
    width: 100%;
    max-width: 100%;
    grid-template-areas: "nav main"
                         "foot foot";
    grid-template-columns: 150px 1fr;
    grid-template-rows: 1fr 150px;
    grid-column-gap: 20px;
    margin: 0;
}

header {
    height: 100vh;
    grid-column: 1;
    padding: 20px 0;
}