@using EPiServer.Web.Mvc.Html
@model SvantorpBlog.Features.Article.Models.ArticlePage


<li class="article-card">
	<a class="article-card-link" href=@Url.ContentUrl(Model.ContentLink)>

		@if(Model.MainImage != null) {
			<div class="article-card-img-wrap">
				<img class="article-card-img" src="@Url.ContentUrl(Model.MainImage)"></img>
			</div>
		}		
		<div class="article-card-body">
			@Html.PropertyFor(m => m.Title)
		</div>
	</a>
</li>
